In [3]:
import numpy as np

# 넘파이 배열의 구조

- 넘파이 모듈의 기본 배열은 ndarray(n-dimension array; 다차원배열)

In [2]:
# 리스트를 다차원배열로 변환
# array() : 다차원배열을 만드는 함수
li = [1, 2, 3, 4]
li_arr = np.array(li)

In [3]:
li_arr

array([1, 2, 3, 4])

In [4]:
type(li_arr)

numpy.ndarray

In [5]:
# 튜플을 다차원배열로 변환
tu = (1, 2, 3, 4)
tu_arr = np.array(tu)

In [7]:
tu_arr

array([1, 2, 3, 4])

In [8]:
type(tu_arr)

numpy.ndarray

In [9]:
# 배열도 mutable의 특징을 가짐
# 변수를 다른 변수에 복사한 뒤 데이터를 수정하면 모든 변수의 데이터가 수정됨
co_arr = li_arr
id(co_arr),id(li_arr)

(1533434418480, 1533434418480)

In [10]:
co_arr[0] = 100
co_arr

array([100,   2,   3,   4])

In [11]:
li_arr

array([100,   2,   3,   4])

In [12]:
# 다차원 배열의 값을 복사해서 새로운 배열을 만들면
# 동일한 값을 가진 새로운 배열을 만들기 때문에 서로 다른 데이터가 됨
new_arr = np.array(li_arr)

In [13]:
id(new_arr), id(li_arr)

(1533429381616, 1533434418480)

In [15]:
new_arr[0] = 99
new_arr

array([99,  2,  3,  4])

In [16]:
li_arr

array([100,   2,   3,   4])

- 파이썬 리스트는 다양한 자료형을 사용할 수 있지만 넘파이 배열은 같은 자료형만 넣을 수 있음
    - 다차원 배열을 생성할 때 자료형을 지정하지 않으면 내부의 원소를 보고 자동으로 추론해서 만듦

In [18]:
# float 자료형을 지정해서 다차원 배열 만들기
fl_arr = np.array(li, dtype = float)
fl_arr

array([1., 2., 3., 4.])

In [19]:
fl_arr.dtype

dtype('float64')

## 2차원 배열

- 2개의 축을 가지는 배열(행, 열)
    - 두 개 이상의 1차원 배열이 쌓여서 하나의 2차원 배열이 만들어짐

In [21]:
arr2d = np.array([[1, 2, 3], [4, 5, 6]])
arr2d

array([[1, 2, 3],
       [4, 5, 6]])

In [22]:
# 각 축의 원소의 개수
arr2d.shape

(2, 3)

In [23]:
# 축의 개수
arr2d.ndim

2

In [24]:
arr2d.dtype

dtype('int32')

In [25]:
# 다차원 배열을 1차원 배열로 조회
# 평탄화작업
# .flatten()
arr2d.flatten()

array([1, 2, 3, 4, 5, 6])

## 원소 조회하기

In [29]:
# 1차원 배열에서 원소 조회
# 리스트와 같은 인덱스로 조회가능
li_arr

array([100,   2,   3,   4])

In [30]:
li

[1, 2, 3, 4]

In [34]:
li_arr[0]

100

In [35]:
li[0]

1

In [36]:
# 다차원 배열에서 원소 조회
# .tolist() 배열을 리스트로 변환
list2d = arr2d.tolist() # 배열을 리스트로 변환

In [37]:
list2d

[[1, 2, 3], [4, 5, 6]]

In [38]:
arr2d

array([[1, 2, 3],
       [4, 5, 6]])

In [41]:
# 리스트는 정수만 이용해서 원소 조회 가능
# 따라서 리스트 내 리스트의 원소를 조회할 때는 인덱스를 두 번 사용해야함
list2d[0][1]

2

In [45]:
# 다차원 배열은 행과 열의 인덱스를 튜플로 조회할 수 있음
arr2d[0, 1]

2

In [46]:
arr2d[0][1]

2

### 슬라이싱

In [47]:
arr1 = np.array([[0, 1, 2, 3], [4, 5, 6, 7]])
arr1

array([[0, 1, 2, 3],
       [4, 5, 6, 7]])

In [49]:
# 첫 번째 행 전체
arr1[0, :]

array([0, 1, 2, 3])

In [51]:
# 두 번째 열 전체
arr1[:, 1]

array([1, 5])

In [54]:
# 두 번째 행의 두 번째 열부터 끝열까지
arr1[1, 1:]

array([5, 6, 7])

In [55]:
# 각 행의 두 번째 열까지
arr1[:, :2]

array([[0, 1],
       [4, 5]])

#### 연습문제

1. 아래의 행렬에서 값 7을 인덱싱
2. 아래의 행렬에서 값 14를 인덱싱
3. 아래의 행렬에서 배열 [6, 7]을 슬라이싱
4. 아래의 행렬에서 배열 [7, 12]를 슬라이싱
5. 아래의 행렬에서 배열 [[3, 4], [8, 9]]를 슬라이싱

In [56]:
m = np.array([[0, 1, 2, 3, 4],
             [5, 6, 7, 8, 9],
             [10, 11, 12, 13, 14]])

In [62]:
m

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14]])

In [58]:
# 1. 아래의 행렬에서 값 7을 인덱싱
m[1, 2]

7

In [59]:
# 2. 아래의 행렬에서 값 14를 인덱싱
m[2, 4]

14

In [66]:
# 3. 아래의 행렬에서 배열 [6, 7]을 슬라이싱
m[1, 1 : 3]

array([6, 7])

In [65]:
# 4. 아래의 행렬에서 배열 [7, 12]를 슬라이싱
m[1 : , 2]

array([ 7, 12])

In [67]:
# 5. 아래의 행렬에서 배열 [[3, 4], [8, 9]]를 슬라이싱
m[0 : 2, 3 :]

array([[3, 4],
       [8, 9]])

In [120]:
m = np.array([[[1, 2, 3], [4, 5, 6]],
              [[7, 8, 9], [10, 11, 12]],
              [[13, 14, 15], [16, 17, 18]],
              [[19, 20, 21], [22, 23, 24]]])

3차원 문제
1. [8, 14] 슬라이싱
2. [[11, 12], [17, 18]] 슬라이싱
3. [3, 9, 15, 21] 슬라이싱

In [121]:
m

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]],

       [[19, 20, 21],
        [22, 23, 24]]])

In [131]:
# 1. [8, 14] 슬라이싱
# m[0][2, 1]
m[1:3, 0, 1]

array([ 8, 14])

In [146]:
# 2. [[11, 12], [17, 18]] 슬라이싱
m[1:3, 1, 1:3]

array([[11, 12],
       [17, 18]])

In [147]:
# 3. [3, 9, 15, 21] 슬라이싱
m[:, 0, 2]

array([ 3,  9, 15, 21])

## 파이썬 리스트와 넘파이 배열의 차이

- 넘파이 배열은 배열끼리 연산이 가능하지만 파이썬 리스트는 값의 추가만 가능
- 넘파이 배열은 숫자와의 연산도 가능하지만 파이썬 리스트는 불가능
    - 파이썬 리스트 : 곱셉으로 리스트 요소를 반복하는 것은 가능
    
- 사용 용도
    - 파이썬 리스트는 값을 추가하거나 제거하는 일에 사용
    - 넘파이 배열은 수치 계산이 많고 복잡하거나 다차원배열이 필요할 때 사용

# 전치 연산(transpose)

- 2차원 배열의 행과 열을 바꾸는 연산

In [153]:
arr = np.array([[1, 2, 3], [4, 5, 6]])
arr

array([[1, 2, 3],
       [4, 5, 6]])

In [154]:
arr.shape

(2, 3)

In [155]:
arr.T

array([[1, 4],
       [2, 5],
       [3, 6]])

In [157]:
arr.T.shape

(3, 2)

# 배열 크기 변형

In [2]:
arr1 = np.arange(12)
arr1

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [4]:
# .reshape(3, 4) 크기변경
arr2 = arr1.reshape(3, 4)
arr2

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [5]:
# 요소 개수가 안맞으면 에러
arr1.reshape(3, 3)

ValueError: cannot reshape array of size 12 into shape (3,3)

- 사용하는 원소의 수가 정해져 있기 때문에 reshape의 형태 원소 중 하나는 -1로 대체할 수 있음
- 3차원에서만 사용가능

In [6]:
# -1은 자동으로 계산해줌
arr1.reshape(3, -1)

array([[ 0,  1,  2,  3],
       [ 4,  5,  6,  7],
       [ 8,  9, 10, 11]])

In [7]:
# 3차원으로 크기변경
arr1.reshape(2, 2, -1)

array([[[ 0,  1,  2],
        [ 3,  4,  5]],

       [[ 6,  7,  8],
        [ 9, 10, 11]]])

In [8]:
arr1.reshape(2, -1, 2)

array([[[ 0,  1],
        [ 2,  3],
        [ 4,  5]],

       [[ 6,  7],
        [ 8,  9],
        [10, 11]]])

In [9]:
arr1.reshape(-1, 5)

ValueError: cannot reshape array of size 12 into shape (5)

# 넘파이 함수의 특징

- 벡터화 연산
    - 벡터와 행렬의 연산은 구성하는 원소별로 처리하는 것이 보통
    - 동일한 인덱스의 원소끼리 계산을 처리하는 것을 벡터화 연산이라고 함
    
- 유니버설 함수(universal function)
    - 벡터화 연산을 지원하는 특별한 함수를 유니버설 함수라고 함

In [10]:
# 일반 파이썬 함수의 타입 확인
def test():
    pass

In [11]:
type(test)

function

In [12]:
# 유니버설 함수 확인
type(np.add)

numpy.ufunc

In [13]:
# 넘파이 모듈에는 유니버설 함수도 있고 일반 함수도 있음
type(np.sort)

function

In [14]:
list2d = [[1, 2, 3], [4, 5, 6]]

In [15]:
list2d + list2d

[[1, 2, 3], [4, 5, 6], [1, 2, 3], [4, 5, 6]]

In [16]:
np.add(list2d, list2d)

array([[ 2,  4,  6],
       [ 8, 10, 12]])

## 벡터화 연산

### 벡터화 연산이 필요한 이유

- data 리스트 내의 각 값에 2를 곱해야 하는 경우

In [17]:
# 리스트를 통한 풀이
data = list(range(10))
data

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
data * 2

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
ans = []

for i in data:
    ans.append(i * 2)
    
ans

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [20]:
# 넘파이를 통한 풀이
data = np.array(data)
data

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [21]:
data * 2

array([ 0,  2,  4,  6,  8, 10, 12, 14, 16, 18])

### 넘파이 벡터화 연산

- 벡터화 연산은 비교 연산과 논리 연산을 포함한 모든 종류의 수학 연산에 대해 적용됨

In [22]:
a = np.array([1, 2, 3])
b = np.array([10, 20, 30])

In [23]:
2 * a + b

array([12, 24, 36])

In [24]:
a == 2

array([False,  True, False])

In [25]:
[1, 2, 3] == 2

False

In [26]:
b > 10

array([False,  True,  True])

In [27]:
(a == 2) & (b > 10)

array([False,  True, False])

In [31]:
a[a == 2]

array([2])

- 배열끼리의 연산

In [32]:
arr1 = np.arange(6, 10)
arr1

array([6, 7, 8, 9])

In [34]:
arr2 = np.arange(10, 14)
arr2

array([10, 11, 12, 13])

In [35]:
# 두 개의 다차원 배열을 곱하면 동일한 인덱스의 원소끼리 곱셈한 결과인 1차원 배열이 반환됨
arr1 * arr2

array([ 60,  77,  96, 117])

In [36]:
# arr1에 차원 추가(수직축 추가)
new_arr1 = arr1.reshape(-1, 1)
new_arr1

array([[6],
       [7],
       [8],
       [9]])

In [37]:
new_arr1.shape

(4, 1)

In [38]:
# arr2에 차원 추가(수평축 추가)
new_arr2 = arr2.reshape(1, -1)
new_arr2

array([[10, 11, 12, 13]])

In [39]:
new_arr2.shape

(1, 4)

## 브로드캐스팅(broadcasting)

- 배열끼리 연산을 하기 위해서는 두 배열의 크기가 같아야 함
- 서로 다른 크기를 가진 배열의 사칙 연산을 하는 경우 넘파이에서는 크기가 작은 배열을 자동으로 반복 확장하여 크기가 큰 배열에 맞춤

In [42]:
new_arr1 + new_arr2

array([[16, 17, 18, 19],
       [17, 18, 19, 20],
       [18, 19, 20, 21],
       [19, 20, 21, 22]])

In [43]:
# 행렬곱 연산
# * 는 같은 인덱스끼리 연산
new_arr1 * new_arr2

array([[ 60,  66,  72,  78],
       [ 70,  77,  84,  91],
       [ 80,  88,  96, 104],
       [ 90,  99, 108, 117]])

In [44]:
# @ 행렬곱 
new_arr1 @ new_arr2

array([[ 60,  66,  72,  78],
       [ 70,  77,  84,  91],
       [ 80,  88,  96, 104],
       [ 90,  99, 108, 117]])

In [45]:
a = np.array([[1, 2], [3, 4]])
b = np.array([[5, 6], [7, 8]])

In [46]:
a

array([[1, 2],
       [3, 4]])

In [47]:
b

array([[5, 6],
       [7, 8]])

In [48]:
# * 연산자는 요소별 곱셈을 수행
a * b

array([[ 5, 12],
       [21, 32]])

In [49]:
# @ 연산자는 행렬 곱셈을 수행
a @ b

array([[19, 22],
       [43, 50]])

#### 연습문제

1. 아래의 배열에서 3의 배수를 찾기
2. 아래의 배열에서 4로 나누면 1이 남는 수 찾기
3. 아래의 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수 찾기

In [51]:
x = np.arange(1, 21)
x

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20])

In [68]:
# 1. 아래의 배열에서 3의 배수를 찾기
x[x % 3 == 0]

array([ 3,  6,  9, 12, 15, 18])

In [77]:
x[2::3]

array([ 3,  6,  9, 12, 15, 18])

In [75]:
# 2. 아래의 배열에서 4로 나누면 1이 남는 수 찾기
x[x % 4 == 1]

array([ 1,  5,  9, 13, 17])

In [72]:
# 3. 아래의 배열에서 3으로 나누면 나누어지고 4로 나누면 1이 남는 수 찾기
x[(x % 3 == 0) & (x % 4 == 1)]

array([9])

## 축에 따른 연산

- 동일한 축에 있는 원소들을 계산하기 위해서 필요

In [79]:
# 1차원배열
arr1 = np.array([1, 2, 3, 4])
arr1

array([1, 2, 3, 4])

In [80]:
# 합계
np.sum(arr1)

10

In [81]:
arr1.sum()

10

In [82]:
# 최댓값
arr1.max()

4

In [83]:
# 최솟값
arr1.min()

1

In [84]:
# 최솟값의 위치(인덱스) 
arr1.argmin()

0

In [85]:
# 최댓값의 위치(인덱스)
arr1.argmax()

3

In [87]:
# 평균
arr1.mean()

2.5

In [88]:
# 중앙값
# 중앙값은 np.median()을 사용해야함
# arr1.median() 사용불가
np.median(arr1)

2.5

In [89]:
# 2차원 배열
arr2 = arr1.reshape(2, 2)
arr2

array([[1, 2],
       [3, 4]])

In [90]:
# 모든 원소를 더한 합
np.sum(arr2)

10

In [91]:
# 수직방향으로 같은 열에 속한 원소만 합산
np.sum(arr2, axis = 0)

array([4, 6])

In [93]:
# 수평방향으로 같은 행에 속한 원소만 합산
np.sum(arr2, axis = 1)

array([3, 7])

In [95]:
# 3차원 배열
arr3 = np.arange(1, 9)
arr3

array([1, 2, 3, 4, 5, 6, 7, 8])

In [96]:
arr4 = arr3.reshape(2, 2, 2)
arr4

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [97]:
# 모든 원소를 더한 합
np.sum(arr4)

36

In [98]:
# 두 개의 행렬의 동일한 인덱스의 원소를 합한 값
np.sum(arr4, axis = 0)

array([[ 6,  8],
       [10, 12]])

In [99]:
# 각 2차원 배열의 0번축(열)의 합
np.sum(arr4, axis = 1)

array([[ 4,  6],
       [12, 14]])

In [100]:
# 각 2차원 배열의 1번축(행)의 합
np.sum(arr4, axis = 2)

array([[ 3,  7],
       [11, 15]])

#### 연습문제

1. 전체의 최댓값
2. 각 행의 합
3. 각 행의 최댓값
4. 각 열의 평균
5. 각 열의 최솟값

In [101]:
x = np.random.random((5, 6))
x

array([[0.34541889, 0.30093315, 0.32690628, 0.20417674, 0.63590855,
        0.24620318],
       [0.85055329, 0.14404613, 0.12492299, 0.26608607, 0.56101448,
        0.46307495],
       [0.17755468, 0.01192583, 0.39546128, 0.00357332, 0.81503113,
        0.56014253],
       [0.57959792, 0.5227997 , 0.36807331, 0.04530494, 0.37423898,
        0.94215865],
       [0.62363516, 0.43275625, 0.12636701, 0.18452456, 0.15812881,
        0.46461365]])

In [102]:
# 1. 전체의 최댓값
x.max()

0.9421586460844021

In [103]:
# 2. 각 행의 합
np.sum(x, axis = 1)

array([2.0595468 , 2.40969791, 1.96368878, 2.83217349, 1.99002544])

In [104]:
# 3. 각 행의 최댓값
x.max(axis = 1)

array([0.63590855, 0.85055329, 0.81503113, 0.94215865, 0.62363516])

In [105]:
# 4. 각 열의 평균
x.mean(axis = 0)

array([0.51535199, 0.28249221, 0.26834617, 0.14073313, 0.50886439,
       0.53523859])

In [106]:
# 5. 각 열의 최솟값
x.min(axis = 0)

array([0.17755468, 0.01192583, 0.12492299, 0.00357332, 0.15812881,
       0.24620318])

In [108]:
arr4

array([[[1, 2],
        [3, 4]],

       [[5, 6],
        [7, 8]]])

In [109]:
arr4.sum(axis = 0)

array([[ 6,  8],
       [10, 12]])

In [110]:
arr4.sum(axis = 1)

array([[ 4,  6],
       [12, 14]])

In [111]:
arr4.sum(axis = 2)

array([[ 3,  7],
       [11, 15]])

In [112]:
arr4.sum(axis = (0, 1))

array([16, 20])

In [114]:
arr4.sum(axis = (0, 2))

array([14, 22])

In [115]:
arr4.sum(axis = (1, 2))

array([10, 26])

In [117]:
arr5 = np.random.randint(0, 3, (2, 3, 4))
arr5

array([[[0, 1, 0, 0],
        [1, 2, 2, 2],
        [0, 0, 0, 0]],

       [[2, 2, 2, 0],
        [0, 0, 2, 2],
        [2, 2, 2, 0]]])

In [118]:
arr5.sum(axis = 0)

array([[2, 3, 2, 0],
       [1, 2, 4, 4],
       [2, 2, 2, 0]])

In [119]:
arr5.sum(axis = 1)

array([[1, 3, 2, 2],
       [4, 4, 6, 2]])

In [120]:
arr5.sum(axis = 2)

array([[1, 7, 0],
       [6, 4, 6]])

In [121]:
arr5.mean(axis = 2)

array([[0.25, 1.75, 0.  ],
       [1.5 , 1.  , 1.5 ]])

In [122]:
arr5.mean(axis = (0, 1))

array([0.83333333, 1.16666667, 1.33333333, 0.66666667])

In [124]:
arr5.mean(axis = (0, 2))

array([0.875, 1.375, 0.75 ])

In [125]:
arr5.mean(axis = (1, 2))

array([0.66666667, 1.33333333])

#### 연습문제

1. 각 2차원 배열에서의 최댓값
2. 각 2차원 배열에서의 행의 합
3. 각 2차원 배열에서의 각 행의 최댓값
4. 전체 열의 평균
5. 각 2차원 배열에서의 열의 평균
6. 각 2차원 배열에서의 각 열의 최솟값

In [128]:
data_3d = np.random.random((3, 5, 6))
data_3d

array([[[0.41308223, 0.09206652, 0.5252554 , 0.49062042, 0.35265337,
         0.45492838],
        [0.67152831, 0.3427322 , 0.37349769, 0.88446994, 0.94984478,
         0.30161957],
        [0.67348698, 0.58877126, 0.11713531, 0.55522543, 0.3193823 ,
         0.07491415],
        [0.91724879, 0.37255071, 0.66568387, 0.67863489, 0.14039437,
         0.03232125],
        [0.89186841, 0.24324971, 0.13928683, 0.6310587 , 0.3847033 ,
         0.18890367]],

       [[0.3820608 , 0.32950375, 0.11460674, 0.47237577, 0.28322935,
         0.52644757],
        [0.25931257, 0.24683171, 0.93891236, 0.2911995 , 0.30881874,
         0.89777954],
        [0.18173702, 0.62228816, 0.20574005, 0.44768321, 0.17932275,
         0.64648146],
        [0.1008784 , 0.14483195, 0.55981476, 0.01910651, 0.98682314,
         0.52209588],
        [0.50568684, 0.22559798, 0.17582449, 0.16327006, 0.05016118,
         0.16184722]],

       [[0.40012511, 0.26228738, 0.76192809, 0.5398838 , 0.39185812,
         0.48327597],
        [0.63905277, 0.82206812, 0.24371975, 0.87367382, 0.94308944,
         0.61610786],
        [0.44318304, 0.31999868, 0.95306425, 0.76933968, 0.70238459,
         0.18788134],
        [0.40471298, 0.40677235, 0.50580645, 0.29718668, 0.31537332,
         0.96403569],
        [0.85073778, 0.30523185, 0.61432635, 0.36786472, 0.54452933,
         0.12917769]]])

In [144]:
# 1. 각 2차원 배열에서의 최댓값
data_3d.max(axis = (1, 2))

array([0.94984478, 0.98682314, 0.96403569])

In [148]:
# 2. 각 2차원 배열에서의 행의 합
data_3d.sum(axis = 2)

array([[2.32860631, 3.5236925 , 2.32891543, 2.80683387, 2.47907062],
       [2.10822398, 2.94285442, 2.28325265, 2.33355064, 1.28238778],
       [2.83935848, 4.13771177, 3.3758516 , 2.89388747, 2.81186773]])

In [149]:
# 3. 각 2차원 배열에서의 각 행의 최댓값
data_3d.max(axis = 2)

array([[0.5252554 , 0.94984478, 0.67348698, 0.91724879, 0.89186841],
       [0.52644757, 0.93891236, 0.64648146, 0.98682314, 0.50568684],
       [0.76192809, 0.94308944, 0.95306425, 0.96403569, 0.85073778]])

In [150]:
# 4. 전체 열의 평균
data_3d.mean(axis = (0, 1))

array([0.5156468 , 0.35498549, 0.45964016, 0.49877288, 0.45683787,
       0.41252115])

In [151]:
# 5. 각 2차원 배열에서의 열의 평균
data_3d.mean(axis = 1)

array([[0.71344294, 0.32787408, 0.36417182, 0.64800187, 0.42939562,
        0.21053741],
       [0.28593513, 0.31381071, 0.39897968, 0.27872701, 0.36167103,
        0.55093033],
       [0.54756234, 0.42327168, 0.61576898, 0.56958974, 0.57944696,
        0.47609571]])

In [152]:
# 6. 각 2차원 배열에서의 각 열의 최솟값
data_3d.min(axis = 1)

array([[0.41308223, 0.09206652, 0.11713531, 0.49062042, 0.14039437,
        0.03232125],
       [0.1008784 , 0.14483195, 0.11460674, 0.01910651, 0.05016118,
        0.16184722],
       [0.40012511, 0.26228738, 0.24371975, 0.29718668, 0.31537332,
        0.12917769]])

# inf 와 nan

- 넘파이에서는 무한대를 표현하기 위한 np.inf와 정의할 수 없는 숫자를 나타내는 np.nan이 있음

In [153]:
np.array([0, 1, -1, 0]) / np.array([1, 0, 0, 0])

C:\Users\ITSC\AppData\Local\Temp\ipykernel_11052\2068585620.py:1: RuntimeWarning: divide by zero encountered in divide
  np.array([0, 1, -1, 0]) / np.array([1, 0, 0, 0])
C:\Users\ITSC\AppData\Local\Temp\ipykernel_11052\2068585620.py:1: RuntimeWarning: invalid value encountered in divide
  np.array([0, 1, -1, 0]) / np.array([1, 0, 0, 0])

array([  0.,  inf, -inf,  nan])

In [ ]:
# 아래의 지시사항에 따라 적절한 다차원 배열을 생성하시오

# 1.  0부터 9까지의 숫자가 순서대로 하나씩 들어있는 1차원 배열을 생성하는 코드를 작성하시오

# 2. 모든 요소가 True 로 채워진 (3, 3) 의 형상을 가지는 다차원 배열을 생성하는 코드를 작성하시오

# 3. 랜덤한 값으로 채워진 (3, 3, 3) 의 형상을 가지는 다차원 배열을 생성하는 코드를 작성하시오

# 4. 바깥쪽 테두리에는 1이 채워져 있고 내부는 0으로 채워진 (10, 10) 형상의 2차원 배열을 생성하는 코드를 작성하시오

# 5. (8, 8) 형상의 2차원 배열을 0과 1을 번갈아가며 채워 생성하는 코드를 작성하시오

# 예)

# 0, 1, 0, 1

# 1, 0, 1, 0

# 0, 1, 0, 1

# 1, 0, 1, 0

In [6]:
np.array(range(0,10))

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [24]:
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [11]:
one_arr = np.ones((3, 3), dtype = bool)
one_arr

array([[ True,  True,  True],
       [ True,  True,  True],
       [ True,  True,  True]])

In [18]:
np.random.random((3, 3, 3))

array([[[0.30770002, 0.47095055, 0.22980759],
        [0.65544137, 0.00248008, 0.99861837],
        [0.06796773, 0.04691772, 0.14166059]],

       [[0.10876662, 0.40301993, 0.61591964],
        [0.2370942 , 0.66213863, 0.96829184],
        [0.39948828, 0.75436863, 0.49339931]],

       [[0.39201321, 0.61656943, 0.81551947],
        [0.54846755, 0.9040148 , 0.78964793],
        [0.5471281 , 0.6362491 , 0.07407706]]])

In [31]:
a = np.ones((10,10), dtype = int)
a[1:-1, 1:-1] = 0
a

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [32]:
b= np.ones((10,10), dtype = int)
b

array([[1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [164]:
# 5. (8, 8) 형상의 2차원 배열을 0과 1을 번갈아가며 채워 생성하는 코드를 작성하시오

a = np.zeros((8, 8))
a[:, 1 ::2] = 1
a

array([[0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1.],
       [0., 1., 0., 1., 0., 1., 0., 1.]])

In [ ]:
# 1번 문제 
# np.arange(10)



# np.ones((3, 3), dtype = bool)



# np.random.random((3, 3, 3))



# a = np.ones((10,10), dtype = int)
# a[1:-1, 1:-1] = 0
# a

# a = np.zeros((8, 8))
# a[:, 1 ::2] = 1
# a

In [ ]:
# 아래의 지시사항에 따라 적절한 다차원 배열을 출력하시오

# 1. arr = np.arange(10) 이라고 할 때 arr 에서 홀수들만 추출하여 출력하시오

# 2. arr = np.arange(10) 에서 홀수들을 -1로 수정하여 출력하시오

# 예) [0, -1, 2, -1, 4, -1, 6, -1, 8, -1]


# 3. 배열 a와 b가 아래와 같을 때, a와 b의 요소 중 동일한 인덱스에 동일한 값이 들어있는 요소들만 추출하여 출력하시오

# a = np.array([1,2,3,2,3,4,3,4,5,6])

# b = np.array([7,2,10,2,7,4,9,4,9,8])

# 예) array([2, 2, 4, 4])


# 4. a = np.array([2, 6, 1, 9, 10, 3, 27]) 라고 할 때 5이상 10이하인 값만 추출하여 출력하시오


# 5. arr = np.arange(9).reshape(3,3) 라고 할 때 arr의 첫 번째 컬럼과 두 번째 컬럼의 순서를 바꾸어 출력하시오

# 예) array([[1, 0, 2],       [4, 3, 5],       [7, 6, 8]])


# 6. arr = np.arange(9).reshape(3,3) 라고 할 때 행의 순서를 반대로 바꾸어 출력하시오

# 예) array([[6, 7, 8],       [3, 4, 5],       [0, 1, 2]])

In [35]:
# 1. arr = np.arange(10) 이라고 할 때 arr 에서 홀수들만 추출하여 출력하시오

arr = np.arange(10)
arr[1::2]

array([1, 3, 5, 7, 9])

In [41]:
# 2. arr = np.arange(10) 에서 홀수들을 -1로 수정하여 출력하시오

# 예) [0, -1, 2, -1, 4, -1, 6, -1, 8, -1]

arr = np.arange(10)
arr[1::2] = -1
arr

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

In [43]:
# 3. 배열 a와 b가 아래와 같을 때, a와 b의 요소 중 동일한 인덱스에 동일한 값이 들어있는 요소들만 추출하여 출력하시오

a = np.array([1,2,3,2,3,4,3,4,5,6])

b = np.array([7,2,10,2,7,4,9,4,9,8])

# 예) array([2, 2, 4, 4])

a[a == b]

array([2, 2, 4, 4])

In [74]:
# 4. a = np.array([2, 6, 1, 9, 10, 3, 27]) 라고 할 때 5이상 10이하인 값만 추출하여 출력하시오

a = np.array([2, 6, 1, 9, 10, 3, 27])
a[(a >= 5) & (a <= 10)]

array([ 6,  9, 10])

In [45]:
# 5. arr = np.arange(9).reshape(3,3) 라고 할 때 arr의 첫 번째 컬럼과 두 번째 컬럼의 순서를 바꾸어 출력하시오

# 예) array([[1, 0, 2],       [4, 3, 5],       [7, 6, 8]])

arr = np.arange(9).reshape(3,3)
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

In [69]:
arr[:][0] = [1, 0, 2]
arr[:][1] = [4, 3, 5]
arr[:][2] = [7, 6, 8]
arr

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [70]:
arr[:, :]

array([[1, 0, 2],
       [4, 3, 5],
       [7, 6, 8]])

In [90]:
# 6. arr = np.arange(9).reshape(3,3) 라고 할 때 행의 순서를 반대로 바꾸어 출력하시오

# 예) array([[6, 7, 8],       [3, 4, 5],       [0, 1, 2]])

arr = np.arange(9).reshape(3,3)
arr[0] = arr[2]
arr[2] = [0, 1, 2]
arr

array([[6, 7, 8],
       [3, 4, 5],
       [0, 1, 2]])

In [ ]:
# 2번 문제
# arr = np.arange(10)
# arr[1::2]


# arr = np.arange(10)
# arr[1::2] = -1
# arr


# a = np.array([1,2,3,2,3,4,3,4,5,6])
# b = np.array([7,2,10,2,7,4,9,4,9,8])
# a[a == b]


# a = np.array([2, 6, 1, 9, 10, 3, 27])
# a[(a >= 5) & (a <= 10)]


# arr[:][0] = [1, 0, 2]
# arr[:][1] = [4, 3, 5]
# arr[:][2] = [7, 6, 8]
# arr


# arr = np.arange(9).reshape(3,3)
# arr[0] = arr[2]
# arr[2] = [0, 1, 2]
# arr

In [ ]:
# arr = np.arange(10) 이라고 할 때

# arr을 2개의 행을 갖는 2차원 배열로 형상을 변경하시오

In [92]:
arr = np.arange(10)
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [96]:
# 3번 문제
arr.reshape(2, -1)

array([[0, 1, 2, 3, 4],
       [5, 6, 7, 8, 9]])

In [ ]:
# 다차원배열 arr 가 아래와 같다고 할 때

# arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]], [[13, 14, 15], [16, 17, 18]]])
 

# 아래의 지시사항에 따라 연산을 수행하는 코드를 작성하시오
 

# 1. 각 2차원 배열의 각 행의 평균값을 계산하시오
 
# 2. 각 2차원 배열의 합을 계산하시오

# 3. 각 2차원 배열의 각 열의 표준편차를 계산하시오

In [100]:
arr = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]], [[13, 14, 15], [16, 17, 18]]])
arr

array([[[ 1,  2,  3],
        [ 4,  5,  6]],

       [[ 7,  8,  9],
        [10, 11, 12]],

       [[13, 14, 15],
        [16, 17, 18]]])

In [101]:
arr.mean(axis = 2)

array([[ 2.,  5.],
       [ 8., 11.],
       [14., 17.]])

In [102]:
arr.sum(axis = (1, 2))

array([21, 57, 93])

In [103]:
arr.std(axis=1)

array([[1.5, 1.5, 1.5],
       [1.5, 1.5, 1.5],
       [1.5, 1.5, 1.5]])

In [ ]:
# 4번 문제

# arr.mean(axis = 2)

# arr.sum(axis = (1, 2))

# arr.std(axis=1)

In [ ]:
# 아래의 지시사항에 따라 적절한 데이터 전처리를 수행하시오

# 배열 arr이 아래와 같을 때, 아래의 지시사항에 따라 데이터 전처리를 수행하는 코드를 작성하시오

# arr = np.arange(1, 9).reshape(4, 2)

# 1. 각 열의 값이 최솟값이 0, 최댓값이 1이 될 수 있도록 정규화를 하려고 한다

# 정규화의 공식이 ((각 요소 값 - 해당 열의 최솟값) / (해당 열의 최댓값 - 해당 열의 최솟값)) 이라고 할 때

# 위의 공식에 따라 정규화를 수행하면 결과는 

# array([[0.        , 0.        ],       [0.33333333, 0.33333333],       [0.66666667, 0.66666667],       [1.        , 1.        ]]) 이 된다

# arr을 위의 공식에 따라 정규화를 수행하는 코드를 작성하시오


# 2. 각 행 내에서 해당 요소가 차지하는 비율로 값을 수정하려고 한다

# 정규화의 공식이 (각 요소 값 / 해당 행의 합) 이라고 할 때

# 하나의 행이 [2, 3] 으로 구성되어 있다면 해당 행에서 2가 차지하는 비중은 0.4, 3이 차지하는 비중은 0.6으로 변환된다

# arr을 위의 공식에 따라 정규화를 수행하는 코드를 작성하시오

In [105]:
arr = np.arange(1, 9).reshape(4, 2)
arr

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [113]:
(arr - arr.min(axis = 0)) / (arr.max(axis = 0) - arr.min(axis = 0))

array([[0.        , 0.        ],
       [0.33333333, 0.33333333],
       [0.66666667, 0.66666667],
       [1.        , 1.        ]])

In [116]:
arr

array([[1, 2],
       [3, 4],
       [5, 6],
       [7, 8]])

In [ ]:
# 5번 문제

# (arr - arr.min(axis = 0)) / (arr.max(axis = 0) - arr.min(axis = 0))

In [ ]:
# arr = np.arange(2 * 3 * 4).reshape((2, 3, 4)) 라고 할 때


# 1. array([[14, 15],       [18, 19],       [22, 23]]) 를 슬라이싱하는 코드를 작성하시오


# 2. array([[ 2,  6, 10],       [14, 18, 22]]) 를 슬라이싱하는 코드를 작성하시오


# 3. array([[ 1,  5,  9],       [13, 17, 21]]) 를 슬라이싱하는 코드를 작성하시오

In [126]:
arr = np.arange(2 * 3 * 4).reshape((2, 3, 4))
arr

array([[[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]],

       [[12, 13, 14, 15],
        [16, 17, 18, 19],
        [20, 21, 22, 23]]])

In [134]:
arr[1][:, 2:]

array([[14, 15],
       [18, 19],
       [22, 23]])

In [152]:
arr[:, :, 2]

array([[ 2,  6, 10],
       [14, 18, 22]])

In [153]:
arr[:, :, 1]

array([[ 1,  5,  9],
       [13, 17, 21]])

In [154]:
# 3번 문제

# arr[1][:, 2:]
# arr[:, :, 2]
# arr[:, :, 1]