# 변수

- 변할 수 있는 자료
- 값을 저장할 때 사용
    - 모든 자료형의 값을 저장 할 수 있음

In [1]:
pi = 3.14159265
pi

3.14159265

## 변수 활용 방법

- 변수를 선언
    - 변수를 생성하는 것
    
- 변수에 값을 할당
    - 변수에 값을 넣는 것
        - = 기호는 우변의 값을 좌변에 할당 하겠다는 의미
        - 변수 = 값

- 변수를 참조
    - 변수에서 값을 꺼내는것

In [2]:
pi + 2

5.14159265

In [3]:
pi - 2

1.1415926500000002

# 복합 대입 연산자

- 자료형에 적용하는 기본 연산자와 = 연산자를 함꼐 사용해 구성하는 연산자
    - += : 숫자 덧셈 후 대입
    - -= : 숫자 뺼셈 후 대입
    - *= : 숫자 곱셈 후 대입
    - /= : 숫자 나눗셈 후 대입
    - %= : 숫자 나머지를 구한 후 대입
    - **= : 숫자 제곱 후 대입
    
- 예) a += 10 은 a = a + 10 과 같은 결과

In [6]:
number = 100   # 100
number += 10   # 110
number += 20   # 130
number += 30   # 160
print(number)

160

In [9]:
# 문자열 복합 대입 연산자
str1 = "안녕하세요"   # 안녕하세요
str1 += "!"          # 안녕하세요!
str1 += "!"          # 안녕하세요!!
print(str1)

안녕하세요!!

# 자료형 변환

## 문자열을 숫자로 바꾸기

- int() :문자열을 int 자료형으로 변환
- float() : 문자열을 float 자료형으로 변환

In [16]:
str_a = "273"
int_a = int(str_a)

str_b = "52"
int_b = int(str_b)

print("문자열 자료 : ", str_a + str_b)
print("숫자 자료 : ", int_a + int_b)

문자열 자료 :  27352
숫자 자료 :  325

In [19]:
output_a = int("52")
output_b = float("52.573")

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'int'> 52
<class 'float'> 52.573

In [20]:
input_a = float("273")
input_b = float("52")

print("덧셈 결과 : ", input_a + input_b)

덧셈 결과 :  325.0

- 자료형을 변환할 때 "변환 할 수 없는것" 을 변환하려고 하면 ValueError 예외가 발생
    - 숫자가 아닌것을 숫자로 변환하려고 할 때
    - 소수점이 있는 숫자형식의 문자열을 int() 함수로 변환하려고 할 때

In [21]:
# 문자열은 숫자로 변환 불가
int("안녕하세요")

ValueError: invalid literal for int() with base 10: '안녕하세요'

In [22]:
# 부동소수점이 있는 자료를 정수형으로 바꿀 수 없음
int("52.263")

ValueError: invalid literal for int() with base 10: '52.263'

In [25]:
int(float("52.273"))   # 가능하나 float("52.273")으로 사용하는 것이 안전함

52

## 숫자를 문자열로 바꾸기

- str() : 다른 자료형을 문자열로 변환

In [26]:
output_a = str(52)
output_b = str(52.273)

print(type(output_a), output_a)
print(type(output_b), output_b)

<class 'str'> 52
<class 'str'> 52.273