In [75]:
# 3. 비밀번호 만들기
#  사이트별로 아래 규칙에 따라 비밀번호를 생성하는 코드 작성하기
# 사이드 주소 예시 : "http://naver.com", "http://daum.net", "http://google.com", "http://youtube.com"
# 규칙1 : http:// 부분은 제외한다
# 규칙2 : 처음 만나는 점(.) 이후 부분도 제외한다
# 규칙3 : 남은 글자 중 처음 세 자리 + 글자 개수 + 글자 내 "e"의 개수 + "!"로 비밀번호를 구성한다

# 규칙에 따라 "http://naver.com"의 비밀번호를 생성하면 nav51! 가 된다
addr = "http://naver.com"

In [76]:
addr = addr[7:]
addr = addr[:addr.index(".")]
password = addr[:3] + str(len(addr)) + str(addr.count("e")) + "!"

print(password)

nav51!

In [24]:
# 1.  1부터 1000까지의 자연수 중 3의 배수의 합 구하기
#166833
n = []
h = 0
for i in range(1001):
    if i % 3 == 0:
        n.append(i)
        
for i in n:
    h += i
print(h)

166833

In [30]:
# 2. 계단식으로 별 출력하기( 첫 줄에는 * 1개, 두번째 줄에는 2개, ... 다섯번째 줄에는 * 5개)
# *
# **
# ***
n = []
for i in range(1,6):
    i *= "*"
    print(i)

*
**
***
****
*****

In [38]:
# 3. 1부터 10까지의 자연수 중 홀수만 2를 곱해서 리스트로 저장하기
n = []
for i in range(1,11):
    if i % 2 == 1:
        n.append(i*2)

In [39]:
n

[2, 6, 10, 14, 18]

In [58]:
# 4. 화폐매수 구하기

a = 156780 # 원  = > 50000 : 3, 10000 : 0 5000 : 1, ....
b = [50000,10000,5000,1000,500,100,50,10]

for i in b:
    h = a // i
    a -= h * i
    
    print(f"{i} - {h}")

50000 - 3
10000 - 0
5000 - 1
1000 - 1
500 - 1
100 - 2
50 - 1
10 - 3

In [66]:
# 5. name과 data를 각각 리스트에 담기  @1 / 각각의 요소들을 짝지어 출력하기 @2
q5 = [{"name":"y1","data":"123"},{"name":"y2","data":"234"}]

name = []
data = []

for i in q5:
    name.append(i["name"])
    data.append(i["data"])
    
for i in range(len(name)):
    print(name[i], data[i])

y1 123
y2 234

In [72]:
# 6. id, name, age를 각각 리스트에 감고 각각의 요소틀을 짝지어 출력하기
q6 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []

for i in q6:
    id_list.append(q6[i]["id"])
    name.append(q6[i]["name"])
    age.append(q6[i]["age"])
    
for i in range(len(name)):
    print(id_list[i], name[i], age[i])

a386 123 34
a383 123 36

In [88]:
# 7. id, name, age를 각각 리스트에 감고 각각의 요소틀을 짝지어 출력하기

q7 = {"ret":[{"id":"a2001","name":"123","age":34},{"id":"a2002","name":"123","age":54},{"id":"a2003","name":"123","age":36},{"id":"a2004","name":"123","age":38}],"ret1":[{"id":"a2005","name":"123","age":17},{"id":"a2006","name":"123","age":52},{"id":"a2007","name":"123","age":33}]}

id_list = []
name = []
age = []

for i in q7:
    
    for j in q7[i]:
        id_list.append(j["id"])
        name.append(j["name"])
        age.append(j["age"])
        
for i in range(len(name)):
    print(id_list[i], name[i], age[i])

a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
a2005 123 17
a2006 123 52
a2007 123 33

In [101]:
# 8. name, species, likes, dislikes 를 가각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q8 = [{"name":"AAA","species":"cat","foods":{"likes":["tuna","catnip"],"dislikes":["ham","zucchini"]}},{"name":"BBB","species":"dog","foods":{"likes":["bones","carrots"],"dislikes":["tuna"]}},{"name":"CCC","species":"cat","foods":{"likes":["mice"],"dislikes":["cookies"]}}]

name = []
species = []
likes = []
dislikes = []

# print(q8[0])
# print(q8[1])
# print(q8[2])

for i in q8:
    name.append(i["name"])
    species.append(i["species"])
    likes.append(i["foods"]["likes"])
    dislikes.append(i["foods"]["dislikes"])
    
for i in range(len(name)):
    print(name[i], species[i], likes[i], dislikes[i])

AAA cat ['tuna', 'catnip'] ['ham', 'zucchini']
BBB dog ['bones', 'carrots'] ['tuna']
CCC cat ['mice'] ['cookies']

In [110]:
# 8. name, species, likes, dislikes 를 가각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q8 = [{"name":"AAA","species":"cat","foods":{"likes":["tuna","catnip"],"dislikes":["ham","zucchini"]}},{"name":"BBB","species":"dog","foods":{"likes":["bones","carrots"],"dislikes":["tuna"]}},{"name":"CCC","species":"cat","foods":{"likes":["mice"],"dislikes":["cookies"]}}]

name = []
species = []
likes = []
dislikes = []

# print(q8[0])
# print(q8[1])
# print(q8[2])

for i in q8:
    name.append(i["name"])
    species.append(i["species"])
    likes.append(i["foods"]["likes"])
    dislikes.append(i["foods"]["dislikes"])
    

print(f"name      {name}")
print(f"species   {species}")
print(f"likes     {likes}")
print(f"dislikes  {dislikes}")

name      ['AAA', 'BBB', 'CCC']
species   ['cat', 'dog', 'cat']
likes     [['tuna', 'catnip'], ['bones', 'carrots'], ['mice']]
dislikes  [['ham', 'zucchini'], ['tuna'], ['cookies']]

In [120]:
# 9. id, name, age 를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q9 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31},{"id":"id2","name":"가나다2","age":32},{"id":"id3","name":"가나다3","age":33},{"id":"id4","name":"가나다4","age":34},{"id":"id5","name":"가나다5","age":35}]}

id_list = []
name = []
age = []

q9.keys()
len(q9["data"])

for i in q9["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    
for i in range(len(name)):
    print(id_list[i], name[i], age[i])

id1 가나다1 31
id2 가나다2 32
id3 가나다3 33
id4 가나다4 34
id5 가나다5 35

In [35]:
# 10. id, name, age, math, eng, kor, (math, eng, kor)합계를 각각 리스트에 담고
# 각각의 요소를 짝지어 출력
q10 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31,"score":{"math":50,"eng":90,"kor":69}},{"id":"id2","name":"가나다2","age":32,"score":{"math":90,"eng":68,"kor":80}},{"id":"id3","name":"가나다3","age":33,"score":{"math":70,"eng":76,"kor":60}},{"id":"id4","name":"가나다4","age":34,"score":{"math":80,"eng":79,"kor":50}},{"id":"id5","name":"가나다5","age":35,"score":{"math":80,"eng":78,"kor":90}}]}

id_list = []
name = []
age = []
math = []
eng = []
kor = []
total =[]

for i in q10["data"]:    
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    math.append(i["score"]["math"])
    eng.append(i["score"]["eng"])
    kor.append(i["score"]["kor"])
    total.append(i["score"]["math"]+i["score"]["eng"]+i["score"]["kor"])
    
for i in range(len(name)):
    print(id_list[i], name[i], age[i], math[i], eng[i], kor[i], total[i])

id1 가나다1 31 50 90 69 209
id2 가나다2 32 90 68 80 238
id3 가나다3 33 70 76 60 206
id4 가나다4 34 80 79 50 209
id5 가나다5 35 80 78 90 248

In [43]:
# 12. 두 리스트를 조합해 하나의 딕셔너리를 만들기
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character= dict()

for i in range(len(value_list)):
    
    character[key_list[i]] = value_list[i]

In [44]:
character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [55]:
# 13. 리스트의 각 숫자가 몇 번 등장 하는지 출력하는 코드 작성하기
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

max(numbers)

9

In [ ]:
# 파일 입출력 내장함수 컬렉션 제어문

In [4]:
h = []
x = [49, -17, 25, 102, 8, 62, 21]
for i in x:
    i *= 10
    h.append(i)

In [12]:
print(h[:])

[490, -170, 250, 1020, 80, 620, 210]

In [197]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

output = [[], [], []]

TypeError: list indices must be integers or slices, not list

In [111]:

output[0].append(numbers[0:3])
output[1].append(numbers[3:6])
output[2].append(numbers[6:9])

In [36]:
output

[[[1, 2, 3]], [[4, 5, 6]], [[7, 8, 9]]]

In [67]:
for i in output:
    i.append(numbers)
    print(i)

[[1, 2, 3, 4, 5, 6, 7, 8, 9]]
[[1, 2, 3, 4, 5, 6, 7, 8, 9]]
[[1, 2, 3, 4, 5, 6, 7, 8, 9]]

In [179]:
    i.append(numbers(1, 9 ,3))

TypeError: 'list' object is not callable

In [168]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9]

output = [[], [], []]

for i in output:
    i
    print(output.index(i))

0
0
0

In [1]:
a = dict()

In [12]:
a["name"] = "python"

In [13]:
a[("a",)] = "python"
print(a)

{'name': 'python', ('a',): 'python', 250: 'python'}

In [9]:
a[[1]] = "python"

TypeError: unhashable type: 'list'

In [10]:
a[250] = "python"

# 1번째 시험

In [74]:
for i in range(ord("a"), ord("z")+1):
        print(chr(i))

a
b
c
d
e
f
g
h
i
j
k
l
m
n
o
p
q
r
s
t
u
v
w
x
y
z

In [16]:
#  1. new_file.txt 
# 반복문을통해 작성

with open("new_file.txt", "w") as f:
     for i in range(ord("a"), ord("z")+1):
        f.write(chr(i) + "\n")
    # for i in range(97,123):
    #    f.write(chr(i) + "")

In [6]:
f= open("new_file.txt", "w")
f.close()

In [38]:
# 2. 리스트 x에 들어있는 숫자에 10을 곱한값을 반복문을 사용하여 한줄로 출력

x = [49, -17, 25, 102 , 8, 62, 21]
h = []
for i in x:
    print(i * 10, end = " ")

490 -170 250 1020 80 620 210

In [86]:
scores = [80, 75, 55]

for i in scores:
    print(i)

80
75
55

In [88]:
scores = [80, 75, 55]

result = 0
for i in scores:
    result += i  

print( result / len(scores))

70.0

In [11]:
# 3. * 산모양으로 출력하기 (제어문 사용)
for i in range(1,6):
    if i <= 3:
        for j in range(1,2 * i):
            print("*", end = "")
    else: 
        for j in range(1, 12-(i * 2)):
            print("*", end = "")
    print()

*
***
*****
***
*

In [105]:
def is_odd(num):
    
    if num % 2 != 0:
        return(False)        
    else:
        return(True)

In [107]:
is_odd(0)

True

In [96]:
def is_odd():
    if num%2 != 0:
        print(False)
    else:
        print(True)

In [42]:
# 4.
def create_pw(addr):
    
    addr = addr.replace("http://", "") # 규칙 1번 적용
    addr = addr[:addr.index(".")]      # 규칙 2번 적용
    password = addr[:3] + str(len(addr)) + str(addr.count("e")) + "!" 
    return password

In [43]:
create_pw("http://naver.com")

'nav51!'

In [62]:
# 5.
# [[1,4,7],[2,5,8],[3,6,9]]

numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]

for number in numbers:
    output[(number - 1) % 3].append(number)
print(output)

[[1, 4, 7], [2, 5, 8], [3, 6, 9]]

In [ ]:
output[0].append(numbers[0])
output[1].append(numbers[1])
output[2].append(numbers[2])

In [64]:
numbers = [1,2,3,4,5,6,7,8,9]
output = [[],[],[]]
for i in numbers:
    output[i].append(i)

IndexError: list index out of range

In [ ]:
데이터, [] 이면 리스트

In [ ]:
논리 연산자 말고 다른거

In [ ]:
# else

In [ ]:
# 1. 파일 입출력 기능 가로로 출력

In [ ]:
# 2. 평균내기

In [ ]:
# 3. *
#    0*
#    00*
#    000*
#    0000*

In [65]:
print("안녕하세요"[0:5:2])

안하요

In [66]:
print("안녕하세요"[1:])

녕하세요

In [67]:
list(range(10))[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1, 0]

In [68]:
[0, 2, 8]

[0, 2, 8]

In [69]:
print("안녕하세요"[2:4])

하세

In [119]:
zodiac = ["쥐", "소", "호랑이", "토끼", "용", "뱀", "말", "양", "원숭이", "닭", "개", "돼지"]



def ddi_year(year):
    return(zodiac[(year % 12)-4])

In [123]:
ddi_year(2022)

'호랑이'

In [ ]:
# 1 = 양 zodiac[7] 
# 2 = 원숭이zodiac[8]
# 3 닭 zodiac[9]
# 4 개 zodiac[10]
# 5 돼지 zodiac[11]
# 6 쥐 zodiac[0]
# 7 소 zodiac[1]
# 8 호  2
# 9 토   3
# 10 용   4
# 11 뱀   5
# 12 말   6

In [114]:
zodiac[(2024 % 12)-4]

'용'

In [10]:
for i in range(5):
    for j in range(5):
        if i >= j:
            print("*", end ="")
        else:
            print(" ", end ="")
    print()

*
**
***
****
*****

In [ ]:
member = {"ret":"y","data":[{"id":"a","name":"가나다1","age":61,"height":165.4,"weight":60.2},{"id":"b","name":"가나다2","age":32,"height":185.4,"weight":80.3},{"id":"c","name":"가나다3","age":13,"height":145.8,"weight":60.6},{"id":"d","name":"가나다4","age":44,"height":165.7,"weight":44.5},{"id":"e","name":"가나다5","age":85,"height":165.2,"weight":42.3}]}

In [1]:
    while True :
        menu = int(input("1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료"))

KeyboardInterrupt: Interrupted by user

In [10]:
member = {"ret":"y","data":[{"id":"a","name":"가나다1","age":61,"height":165.4,"weight":60.2},{"id":"b","name":"가나다2","age":32,"height":185.4,"weight":80.3},{"id":"c","name":"가나다3","age":13,"height":145.8,"weight":60.6},{"id":"d","name":"가나다4","age":44,"height":165.7,"weight":44.5},{"id":"e","name":"가나다5","age":85,"height":165.2,"weight":42.3}]}

db = []
id_list = []
name = []
age = []
height = []
weight = []

for i in member["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    height.append(i["height"])
    weight.append(i["weight"])

for i in range(len(name)):
    db.append({"id" : id_list[i],"이름" : name[i],"나이" : age[i],"키" : height[i],"몸무게" : weight[i]})

class Customer:
    
    def __init__(self, id_list, name, age, height, weight):
        self.set_data( id_list, name, age, height, weight)
    
    def set_data(self,id_list, name, age, height, weight):
        self.id_list = id_list
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
        
    def add_member():
        id_list = input("id : ")
        name = input("이름 : ")
        age = input("나이 : ")
        height = input("키 : ")
        weight = input("몸무게 : ")
        new = [id_list,name,age,height,weight]
        db.append(new)
        return print("고객정보 추가")
    
    def update_customer():
        pass

    def del_customer():
        pass

    def find_db():
        
        return print(db)
    
    
        
    while True :
        menu = int(input("1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료"))
        
        if menu == 0:
            print("종료")
            break


        elif menu == 1:
            add_member()
            

        elif menu == 2:
            update_customer()

        elif menu == 3:
            del_customer()

        elif menu == 4:
            find_db()

1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료1

KeyboardInterrupt: Interrupted by user

In [ ]:
member = {"ret":"y","data":[{"id":"a","name":"가나다1","age":61,"height":165.4,"weight":60.2},{"id":"b","name":"가나다2","age":32,"height":185.4,"weight":80.3},{"id":"c","name":"가나다3","age":13,"height":145.8,"weight":60.6},{"id":"d","name":"가나다4","age":44,"height":165.7,"weight":44.5},{"id":"e","name":"가나다5","age":85,"height":165.2,"weight":42.3}]}

db = []
id_list = []
name = []
age = []
height = []
weight = []

for i in member["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    height.append(i["height"])
    weight.append(i["weight"])

for i in range(len(name)):
    db.append({"id" : id_list[i],"이름" : name[i],"나이" : age[i],"키" : height[i],"몸무게" : weight[i]})

class Customer:
    
    def __init__(self, id_list, name, age, height, weight):
        self.set_data( id_list, name, age, height, weight)
    
    def set_data(self,id_list, name, age, height, weight):
        self.id_list = id_list
        self.name = name
        self.age = age
        self.height = height
        self.weight = weight
        
    def add_member():
        id_list = input("id : ")
        name = input("이름 : ")
        age = input("나이 : ")
        height = input("키 : ")
        weight = input("몸무게 : ")
        new = [id_list,name,age,height,weight]
        db.append(new)
        return print("고객정보 추가")
    
    def update_customer():
        pass

    def del_customer():
        pass

    def find_db():
        
        return print(db)
    
    
        
    while True :
        menu = int(input("1 : 추가, 2 : 수정, 3 : 삭제, 4 : 목록조회, 0 : 종료"))
        
        if menu == 0:
            print("종료")
            break


        elif menu == 1:
            add_member()
            

        elif menu == 2:
            update_customer()

        elif menu == 3:
            del_customer()

        elif menu == 4:
            find_db()