# 표준 출력

## 이스케이프 문자

- \n : 줄바꿈
- \t : 탭
- \\' : 작은 따옴표
- \\" : 큰 따옴표

In [3]:
print("Hello, \"World!\"")

Hello, "World!"

In [6]:
print("*\n**\n***")

*
**
***

In [7]:
print("이름\t연락처")

이름	연락처

## print() 함수

- print(*args, sep=' ', end='\n', file=None, flush=False)

    - sep : 출력할 값의 구분자
    - end : 값을 출력한 후 출력할 문자

In [11]:
print("Python", "Java", "C")
print("Python", "Java", "C", sep = "|")
print("Python", "Java", "C", sep = "\t")

Python Java C
Python|Java|C
Python	Java	C

In [13]:
print("영화 타이타닉")
print("평점", end = ":")
print("5점")

영화 타이타닉
평점:5점

# 형식을 갖춘 문자열

- 문자열 포매팅(string formatting)
    - % 연산자, format() 메소드 등의 명령어들을 이용해 원하는 형식의 문자열을 만드는 것

## %연산자

- %d : 정수(10진수)
- %f : 실수
- %s : 문자열

In [20]:
print("%d" %10)

10

In [21]:
print("%f"%3.14)

3.140000

In [22]:
print("%.2f"%3.14)

3.14

In [23]:
print("%s"%"python")

python

In [27]:
print("%d %d"%(10, 20))

10 20

In [28]:
print("%s %s"%(10, 3.14))

10 3.14

### 활용법

In [29]:
name = "Jun"
print("내 이름은 %s입니다"%name)

내 이름은 Jun입니다

In [30]:
height = 120.5
weight = 23.55
print("내 키는 %.2fcm입니다."%height)
print("내 몸무게는 %.1fkg입니다."%weight)

내 키는 120.50cm입니다.
내 몸무게는 23.6kg입니다.

## format() 메소드

- 함수의 인수로 변수나 값을 표시하고, 해당 값이 표시될 위치를 중괄호({}) 로 표시

In [36]:
print("Breakfast is {0} and {1}".format("banana", "protein"))

Breakfast is banana and protein

In [32]:
print("My name is {}".format(name))
print("My name is {0}".format(name))
print("My name is {name}".format(name = "James"))

My name is Jun
My name is Jun
My name is James

In [40]:
print("My name is {name}. I'm {age} years old".format(name = "James", age = 25))

My name is James. I'm 25 years old

## f-strings

- format()과 유사하지만 가독성이 뛰어나고 속도가 가장 빠르다
- 파이썬 3.6버전 이후로 지원하는 기능
- 중괄호 내부에서 연산자의 사용이나 함수의 호출도 가능

In [1]:
who = "you"
how = "happy"

In [2]:
print(f"{who} make me {how}")

you make me happy

In [3]:
age = 25
print(f"올해는 {age}살입니다. 내년엔 {age + 1}살이 됩니다.")

올해는 25살입니다. 내년엔 26살이 됩니다.

# 표준입력

## input() 함수

- 키보드로부터 값을 입력받을 때 사용
- 모든 입력을 문자열로 저장함

In [11]:
n = input("")

20

In [12]:
print(n)

20

In [13]:
# 안내 메시지 입력
n = input("정수를 입력하세요 : ")

정수를 입력하세요 : 20

In [14]:
print(n)

20

In [15]:
name = input("이름을 입력하세요 : ")
age = input("나이를 입력하세요 : ")

이름을 입력하세요 : 홍길동
나이를 입력하세요 : 30

In [16]:
print(f"입력된 이름은 {name} 입니다. \n입력된 나이는 {age}살 입니다.")

입력된 이름은 홍길동 입니다.
입력된 나이는 30살 입니다.

## 형 변환

In [17]:
n

'20'

In [18]:
print(type(n))

<class 'str'>

In [20]:
n = int(input("정수 입력 : "))

정수 입력 : 5

In [21]:
print(type(n))

<class 'int'>

In [22]:
# 예제
price = 50000
n = int(input("할부 개월 입력 : "))
print(f"매달 내는 돈은 {price / n}원 입니다.")

할부 개월 입력 : 10
매달 내는 돈은 5000.0원 입니다.