In [94]:
a = [3, 6, 9]

for i in a:
    print(i)

3
6
9

In [98]:
# 1.  1부터 1000까지의 자연수 중 3의 배수의 합 구하기
#166833
n = []
h = 0
for i in range(1001):
    if i % 3 == 0:
        n.append(i)
        
for a in n:
    h += a
print(h)

166833

In [119]:
result = 0

for i in range(1001):
    if i % 3 == 0:
        result += i
print(result)

166833

In [ ]:
# 2. 계단식으로 별 출력하기( 첫 줄에는 * 1개, 두번째 줄에는 2개, ... 다섯번째 줄에는 * 5개)
# *
# **
# ***

In [7]:
for i in range(5):
    for j in range(5):
        if j <= i:
            print("*", end = "")
    print()

*
**
***
****
*****

In [61]:
# ver1
for i in range(5):
    for j in range(5):
        if j == i:
            print("*", end = "")
        else:
            print(" ", end = "")
    print()  # 각 줄에 대한 연산이 끝난 후 줄 바꿈

*
 *
  *
   *
    *

In [62]:
for i in range(5):
    print(" " * i + "*")

*
 *
  *
   *
    *

In [56]:
for i in range(5):
    for j in range(5):
        if j == i:
            print("*",end = "")            
        else :
            print("")
    print()

*





*





*





*





*

In [237]:
for i in range(5):       # 행에 대한 연산
    for j in range(5):   # 열에 대한 연산
        # 별을 찍는다 or 찍지 않는다
        print((i,j))

(0, 0)
(0, 1)
(0, 2)
(0, 3)
(0, 4)
(1, 0)
(1, 1)
(1, 2)
(1, 3)
(1, 4)
(2, 0)
(2, 1)
(2, 2)
(2, 3)
(2, 4)
(3, 0)
(3, 1)
(3, 2)
(3, 3)
(3, 4)
(4, 0)
(4, 1)
(4, 2)
(4, 3)
(4, 4)

In [263]:
# ver2 
for i in range(1,6):
    print("*" * i)

*
**
***
****
*****

In [265]:
# ver3
star = ""
for i in range(5):
    star += "*"
    print(star)

*
**
***
****
*****

In [280]:
# 3. 1부터 10까지의 자연수 중 홀수만 2를 곱해서 리스트로 저장하기
#  ver1.
result = []
for i in range(11):
    if i % 2 == 1:
        result.append(i*2)

print(result)

[2, 6, 10, 14, 18]

In [282]:
# 위의 커드를 리스트 내포로 구현
[i * 2 for i in range(1, 11) if i % 2 == 1]

[2, 6, 10, 14, 18]

In [281]:
# ver.2
result = []
for i in range(1,11,2):
    result.append(i * 2)
    
print(result)

[2, 6, 10, 14, 18]

In [19]:
# 4. 화폐매수 구하기

a = 156780 # 원  = > 50000 : 3, 10000 : 0 5000 : 1, ....
b = {"50000" : 0, "10000" : 0, "5000" : 0, "1000" : 0, "500" : 0, "100" : 0, "50" : 0, "10" : 0}

while a >= 50000:
    a -= 50000
    b["50000"] += 1
while a >= 10000:
    a -= 10000
    b["10000"] += 1
while a >= 5000:
    a -= 5000
    b["5000"] += 1
while a >= 1000:
    a -= 1000
    b["1000"] += 1
while a >= 500:
    a -= 500
    b["500"] += 1
while a >= 100:
    a -= 100
    b["100"] += 1
while a >= 50:
    a -= 50
    b["50"] += 1
while a >= 10:
    a -= 10
    b["10"] += 1
print(b)

{'50000': 3, '10000': 0, '5000': 1, '1000': 1, '500': 1, '100': 2, '50': 1, '10': 3}

In [57]:
a = 156780 # 원  = > 50000 : 3, 10000 : 0 5000 : 1, ....
b = [50000,10000,5000,1000,500,100,50,10]

for i in b:
    h = a // i
    a = a - i*h
    print(f"{i} 원 - {h}장")

50000 원 - 3장
10000 원 - 0장
5000 원 - 1장
1000 원 - 1장
500 원 - 1장
100 원 - 2장
50 원 - 1장
10 원 - 3장

In [145]:
# 5. name과 data를 각각 리스트에 담기  @1 / 각각의 요소들을 짝지어 출력하기 @2
q5 = [{"name":"y1","data":"123"},{"name":"y2","data":"234"}]

name = []
data = []

In [194]:
# @1
q5 = [{"name":"y1","data":"123"},{"name":"y2","data":"234"}]
name = []
data = []
for i in q5:
    name.append(i["name"])
    data.append(i["data"])
print(name)
print(data)

['y1', 'y2']
['123', '234']

In [195]:
# @2
for h in range(len(name)):
    print(name[h], data[h])

y1 123
y2 234

In [196]:
# @2
for h in zip(name, data):      ,         
    print(h[0], h[1])

y1 123
y2 234

In [36]:
# 6. id, name, age를 각각 리스트에 감고 각각의 요소틀을 짝지어 출력하기
q6 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []

for i in q6: 
    print (q6[i])

{'id': 'a386', 'name': '123', 'age': 34}
{'id': 'a383', 'name': '123', 'age': 36}

In [319]:
q6 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []

for i in q6:
    print(q6[i]["id"])
    print(q6[i]["name"])
    print(q6[i]["age"])

a386
123
34
a383
123
36

In [320]:
q6 = {"ret":{"id":"a386","name":"123","age":34},"ret1":{"id":"a383","name":"123","age":36}}

id_list = []
name = []
age = []

for i in q6:
    id_list.append(q6[i]["id"])
    name.append(q6[i]["name"])
    age.append(q6[i]["age"])
print(id_list)
print(name)
print(age)

['a386', 'a383']
['123', '123']
[34, 36]

In [323]:
for h in range(len(id_list)):
    print(id_list[h], name[h], data[h])

a386 123 123
a383 123 234

In [54]:
# 7. id, name, age를 각각 리스트에 감고 각각의 요소틀을 짝지어 출력하기

q7 = {"ret":[{"id":"a2001","name":"123","age":34},{"id":"a2002","name":"123","age":54},{"id":"a2003","name":"123","age":36},{"id":"a2004","name":"123","age":38}],"ret1":[{"id":"a2005","name":"123","age":17},{"id":"a2006","name":"123","age":52},{"id":"a2007","name":"123","age":33}]}

id_list = []
name = []
age = []

for i in q7:
    print(i)
    for j in q7[i]:
        id_list.append(j["id"])
        name.append(j["name"])
        age.append(j["age"])
        
print(id_list)
print(name)
print(age)

ret
ret1
['a2001', 'a2002', 'a2003', 'a2004', 'a2005', 'a2006', 'a2007']
['123', '123', '123', '123', '123', '123', '123']
[34, 54, 36, 38, 17, 52, 33]

In [390]:
for i in range(len(id_list)):
    print(id_list[i], name[i], age[i])

a2001 123 34
a2002 123 54
a2003 123 36
a2004 123 38
a2005 123 17
a2006 123 52
a2007 123 33

In [33]:
# 8. name, species, likes, dislikes 를 가각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q8 = [{"name":"AAA","species":"cat","foods":{"likes":["tuna","catnip"],"dislikes":["ham","zucchini"]}},{"name":"BBB","species":"dog","foods":{"likes":["bones","carrots"],"dislikes":["tuna"]}},{"name":"CCC","species":"cat","foods":{"likes":["mice"],"dislikes":["cookies"]}}]

name = []
species = []
likes = []
dislikes = []

for i in q8:
    name.append(i["name"])
    species.append(i["species"])
    likes.append(i["foods"]["likes"])
    dislikes.append(i["foods"]["dislikes"])
print(f"name     {name}")
print(f"species  {species}")
print(f"likes    {likes}")
print(f"dislikes {dislikes}")

name     ['AAA', 'BBB', 'CCC']
species  ['cat', 'dog', 'cat']
likes    [['tuna', 'catnip'], ['bones', 'carrots'], ['mice']]
dislikes [['ham', 'zucchini'], ['tuna'], ['cookies']]

In [110]:
# 9. id, name, age 를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q9 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31},{"id":"id2","name":"가나다2","age":32},{"id":"id3","name":"가나다3","age":33},{"id":"id4","name":"가나다4","age":34},{"id":"id5","name":"가나다5","age":35}]}

id_list = []
name = []
age = []


for j in q9["data"]:
    id_list.append(j["id"])
    name.append(j["name"])
    age.append(j["age"])
        
for i in range(len(name)):
    print(id_list[i], name[i], age[i])

id1 가나다1 31
id2 가나다2 32
id3 가나다3 33
id4 가나다4 34
id5 가나다5 35

In [126]:
# 9. id, name, age 를 각각 리스트에 담고 각각의 요소들을 짝지어 출력하기
q9 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31},{"id":"id2","name":"가나다2","age":32},{"id":"id3","name":"가나다3","age":33},{"id":"id4","name":"가나다4","age":34},{"id":"id5","name":"가나다5","age":35}]}

id_list = []
name = []
age = []
# 풀이 순서
# print(q9)
# print(q9["data"][0])


# print(q9["data"][0]["id"])
# print(q9["data"][1]["id"])
# print(q9["data"][2]["id"])
# print(q9["data"][3]["id"])
# print(q9["data"][4]["id"])

# for i in q9["data"]:
#    print(i["id"])

#    id_list.append(i["id"])
#    name.append(j["name"])
#    age.append(j["age"])

In [221]:
# 10. id, name, age, math, eng, kor, (math, eng, kor)합계를 각각 리스트에 담고
# 각각의 요소를 짝지어 출력
q10 = {"ret":"y","data":[{"id":"id1","name":"가나다1","age":31,"score":{"math":50,"eng":90,"kor":69}},{"id":"id2","name":"가나다2","age":32,"score":{"math":90,"eng":68,"kor":80}},{"id":"id3","name":"가나다3","age":33,"score":{"math":70,"eng":76,"kor":60}},{"id":"id4","name":"가나다4","age":34,"score":{"math":80,"eng":79,"kor":50}},{"id":"id5","name":"가나다5","age":35,"score":{"math":80,"eng":78,"kor":90}}]}

id_list = []
name = []
age = []
math = []
eng = []
kor = []
total =[]
for i in q10["data"]:
    id_list.append(i["id"])
    name.append(i["name"])
    age.append(i["age"])
    math.append(i["score"]["math"])
    eng.append(i['score']["eng"])
    kor.append(i['score']["kor"])
    total.append(i['score']["math"] + i['score']["eng"]+ i['score']["kor"])
    # (total 구하는 다른방법) total.append(math[-1] + eng[-1]+ kor[-1])
    
for i in range(len(id_list)):
    print(id_list[i], name[i], age[i], math[i], eng[i], kor[i], total[i])

id1 가나다1 31 50 90 69 209
id2 가나다2 32 90 68 80 238
id3 가나다3 33 70 76 60 206
id4 가나다4 34 80 79 50 209
id5 가나다5 35 80 78 90 248

In [250]:
# 11. 영화 제목만 추출 된 리스트 생성하기
q11 = {"boxOfficeResult":{"boxofficeType":"일별 박스오피스","showRange":"20120101~20120101","dailyBoxOfficeList":[{"rnum":"1","rank":"1","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112207","movieNm":"미션임파서블:고스트프로토콜","openDt":"2011-12-15","salesAmt":"2776060500","salesShare":"36.3","salesInten":"-415699000","salesChange":"-13","salesAcc":"40541108500","audiCnt":"353274","audiInten":"-60106","audiChange":"-14.5","audiAcc":"5328435","scrnCnt":"697","showCnt":"3223"},{"rnum":"2","rank":"2","rankInten":"1","rankOldAndNew":"OLD","movieCd":"20110295","movieNm":"마이 웨이","openDt":"2011-12-21","salesAmt":"1189058500","salesShare":"15.6","salesInten":"-105894500","salesChange":"-8.2","salesAcc":"13002897500","audiCnt":"153501","audiInten":"-16465","audiChange":"-9.7","audiAcc":"1739543","scrnCnt":"588","showCnt":"2321"},{"rnum":"3","rank":"3","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20112621","movieNm":"셜록홈즈 : 그림자 게임","openDt":"2011-12-21","salesAmt":"1176022500","salesShare":"15.4","salesInten":"-210328500","salesChange":"-15.2","salesAcc":"10678327500","audiCnt":"153004","audiInten":"-31283","audiChange":"-17","audiAcc":"1442861","scrnCnt":"360","showCnt":"1832"},{"rnum":"4","rank":"4","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113260","movieNm":"퍼펙트 게임","openDt":"2011-12-21","salesAmt":"644532000","salesShare":"8.4","salesInten":"-75116500","salesChange":"-10.4","salesAcc":"6640940000","audiCnt":"83644","audiInten":"-12225","audiChange":"-12.8","audiAcc":"895416","scrnCnt":"396","showCnt":"1364"},{"rnum":"5","rank":"5","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113271","movieNm":"프렌즈: 몬스터섬의비밀 ","openDt":"2011-12-29","salesAmt":"436753500","salesShare":"5.7","salesInten":"-89051000","salesChange":"-16.9","salesAcc":"1523037000","audiCnt":"55092","audiInten":"-15568","audiChange":"-22","audiAcc":"202909","scrnCnt":"290","showCnt":"838"},{"rnum":"6","rank":"6","rankInten":"1","rankOldAndNew":"OLD","movieCd":"19940256","movieNm":"라이온 킹","openDt":"1994-07-02","salesAmt":"507115500","salesShare":"6.6","salesInten":"-114593500","salesChange":"-18.4","salesAcc":"1841625000","audiCnt":"45750","audiInten":"-11699","audiChange":"-20.4","audiAcc":"171285","scrnCnt":"244","showCnt":"895"},{"rnum":"7","rank":"7","rankInten":"-1","rankOldAndNew":"OLD","movieCd":"20113381","movieNm":"오싹한 연애","openDt":"2011-12-01","salesAmt":"344871000","salesShare":"4.5","salesInten":"-107005500","salesChange":"-23.7","salesAcc":"20634684500","audiCnt":"45062","audiInten":"-15926","audiChange":"-26.1","audiAcc":"2823060","scrnCnt":"243","showCnt":"839"},{"rnum":"8","rank":"8","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112709","movieNm":"극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」","openDt":"2011-12-22","salesAmt":"167809500","salesShare":"2.2","salesInten":"-45900500","salesChange":"-21.5","salesAcc":"1897120000","audiCnt":"24202","audiInten":"-7756","audiChange":"-24.3","audiAcc":"285959","scrnCnt":"186","showCnt":"348"},{"rnum":"9","rank":"9","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20113311","movieNm":"앨빈과 슈퍼밴드3","openDt":"2011-12-15","salesAmt":"137030000","salesShare":"1.8","salesInten":"-35408000","salesChange":"-20.5","salesAcc":"3416675000","audiCnt":"19729","audiInten":"-6461","audiChange":"-24.7","audiAcc":"516289","scrnCnt":"169","showCnt":"359"},{"rnum":"10","rank":"10","rankInten":"0","rankOldAndNew":"OLD","movieCd":"20112708","movieNm":"극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」","openDt":"2011-12-22","salesAmt":"125535500","salesShare":"1.6","salesInten":"-40756000","salesChange":"-24.5","salesAcc":"1595695000","audiCnt":"17817","audiInten":"-6554","audiChange":"-26.9","audiAcc":"235070","scrnCnt":"175","showCnt":"291"}]}}

movieNm = []

for i in q11["boxOfficeResult"]["dailyBoxOfficeList"]:
    movieNm.append(i["movieNm"])
    
print(movieNm)

['미션임파서블:고스트프로토콜', '마이 웨이', '셜록홈즈 : 그림자 게임', '퍼펙트 게임', '프렌즈: 몬스터섬의비밀 ', '라이온 킹', '오싹한 연애', '극장판 포켓몬스터 베스트 위시「비크티니와 백의 영웅 레시라무」', '앨빈과 슈퍼밴드3', '극장판 포켓몬스터 베스트 위시 「비크티니와 흑의 영웅 제크로무」']

In [465]:
# 12. 두 리스트를 조합해 하나의 딕셔너리를 만들기
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character= dict()




character[key_list[0]] = value_list[0]
character[key_list[1]] = value_list[1]
character[key_list[2]] = value_list[2]
character[key_list[3]] = value_list[3]
character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [460]:
key_list = ["name", "hp", "mp", "level"]
value_list = ["기사", 200, 30, 5]
character= dict()

for i in range(len(key_list)):    
    character[key_list[i]] = value_list[i]
character

{'name': '기사', 'hp': 200, 'mp': 30, 'level': 5}

In [538]:
# 13. 리스트의 각 숫자가 몇 번 등장 하는지 출력하는 코드 작성하기
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()
# 1)
numbers.sort()
for i in range(numbers[0],numbers[-1] + 1):
    counter[i] = numbers.count(i)
counter

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [542]:
# 2)
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

for i in set(numbers):
    counter[i] = numbers.count(i)
print(counter)

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [546]:
# 3) 딕셔너리 내포
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

counter = {i : numbers.count(i) for i in set(numbers)}
print(counter)

{1: 3, 2: 4, 3: 3, 4: 3, 5: 2, 6: 1, 7: 2, 8: 2, 9: 3}

In [551]:
# 하나하나 세는 방식
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

for num in numbers:
    if num in counter: # 해당 key가 딕셔너리 안에 있다면
        counter[num] = counter[num] + 1 #  값 수정
        
    else: # 해당 key가 딕셔너리 안에 없다면
        counter[num] = 1 # 요소 추가
        
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}

In [554]:
# 위 코드를 get() 매소드로 개선
numbers = [1, 2, 6, 8, 4, 3, 2, 1, 9, 5, 4, 9, 7, 2, 1, 3, 5, 4, 8, 9, 7, 2, 3]
counter = dict()

for num in numbers:
    counter[num] = counter.get(num, 0)+ 1
print(counter)

{1: 3, 2: 4, 6: 1, 8: 2, 4: 3, 3: 3, 9: 3, 5: 2, 7: 2}