In [1]:
import pandas as pd
import numpy as np

# 문제1. 데이터프레임을 iris 변수로 읽기

In [32]:
iris = pd.read_csv("./data/iris.csv")
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          5.1         3.5          1.4         0.2  setosa
1          4.9         3.0          1.4         0.2  setosa
2          4.7         3.2          1.3         0.2  setosa
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

# 아래 코드를 실행해주세요

In [33]:
iris.iloc[10:30,2:3] = np.nan

# 문제2. 데이터프레임에 누락값이 있는지 확인

In [34]:
iris.isna().sum()

SepalLength     0
SepalWidth      0
PetalLength    20
PetalWidth      0
Species         0
dtype: int64

In [6]:
iris_pet = iris["PetalLength"].value_counts(dropna = False)
iris_pet

PetalLength
NaN    20
1.4    10
4.5     8
1.5     8
5.1     8
5.6     6
1.3     6
4.0     5
4.9     5
4.7     5
5.0     4
4.8     4
4.4     4
4.2     4
6.1     3
5.8     3
4.1     3
5.5     3
3.9     3
4.6     3
5.7     3
1.6     3
5.3     2
6.0     2
6.7     2
5.4     2
5.9     2
4.3     2
3.5     2
3.3     2
5.2     2
3.0     1
3.7     1
3.8     1
6.6     1
6.3     1
3.6     1
1.9     1
6.9     1
1.2     1
6.4     1
1.7     1
Name: count, dtype: int64

In [37]:
iris.iloc[10:30,2:3]

    PetalLength
10          1.0
11          1.0
12          1.0
13          1.0
14          1.0
15          1.0
16          1.0
17          1.0
18          1.0
19          1.0
20          1.0
21          1.0
22          1.0
23          1.0
24          1.0
25          1.0
26          1.0
27          1.0
28          1.0
29          1.0

# 문제3. 결측치에 1 채워넣기

In [35]:
iris = iris.fillna(1)

In [36]:
iris.isna().sum()

SepalLength    0
SepalWidth     0
PetalLength    0
PetalWidth     0
Species        0
dtype: int64

# 문제4. Species 컬럼 삭제하기

In [38]:
iris = iris.drop("Species", axis = 1)

In [39]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

# 아래 코드를 실행해주세요

In [40]:
iris.iloc[0:3 ,:] = np.nan

# 문제5. 결측치가 존재하는 행 삭제하기

In [19]:
iris.

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   SepalLength  147 non-null    float64
 1   SepalWidth   147 non-null    float64
 2   PetalLength  147 non-null    float64
 3   PetalWidth   147 non-null    float64
dtypes: float64(4)
memory usage: 4.8 KB

In [14]:
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth Species
0          NaN         NaN          NaN         NaN     NaN
1          NaN         NaN          NaN         NaN     NaN
2          NaN         NaN          NaN         NaN     NaN
3          4.6         3.1          1.5         0.2  setosa
4          5.0         3.6          1.4         0.2  setosa

In [42]:
iris = iris.dropna(axis = 0)
iris.head()

   SepalLength  SepalWidth  PetalLength  PetalWidth
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2
5          5.4         3.9          1.7         0.4
6          4.6         3.4          1.4         0.3
7          5.0         3.4          1.5         0.2

# 문제6. 인덱스가 0부터 시작하도록 재설정

In [45]:
# drop = True 를 사용하면 만들어진 index행 사자림
iris = iris.reset_index(drop = True)

In [46]:
iris

     SepalLength  SepalWidth  PetalLength  PetalWidth
0            4.6         3.1          1.5         0.2
1            5.0         3.6          1.4         0.2
2            5.4         3.9          1.7         0.4
3            4.6         3.4          1.4         0.3
4            5.0         3.4          1.5         0.2
..           ...         ...          ...         ...
142          6.7         3.0          5.2         2.3
143          6.3         2.5          5.0         1.9
144          6.5         3.0          5.2         2.0
145          6.2         3.4          5.4         2.3
146          5.9         3.0          5.1         1.8

[147 rows x 4 columns]